body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  height: 99vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  /* background-color: skyblue; */
  background-image: url(asset/flappybirdbg.png);
}
